/*Estilo básico del cuerpo*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Estilo del encabezado*/
.header{
    background-color: #BC6A43;/*Fondo oscuro*/
    color: white;/*Texto blanco*/
    padding: 15px;
    text-align: center;
}

/*Contenedor de la fila*/
.row{
    display: flex;
    flex-wrap: wrap;/*Hace que las columnas se ajusten en pantallas pequeñas*/
    margin: 0;
    padding: 0;
}

/*Columna del menú*/
.col-3, .col-6, .col-12{
    padding: 15px;
}

/*Estilos de las columnas*/
.col-3.menu{
    flex: 25%;/*Ocupa el 25% del ancho*/
    background-color: #0D1826;
}

/*Columna de contenido principal*/
.col-6{
    flex: 50%;/*Ocupa el 50% del ancho*/
    background-color: #5C9B31;
}

/*Columna adicional(Derecha)*/
.col-3.right-column {
    flex: 25%;/*Ocupa el 25%*/
    background-color: #7D68CA;
    text-align: center;
}

/*Estilo de la imagen*/
.right-image{
    max-width: 100%; /*La imagen ocupa doto el ancho disponible*/
    height: auto; /*Mantiene la proporción de la imagen*/
    margin-left: auto; /*Alinea la imagen a la derecha*/
    margin-right: 0; /*Alinea la imagen a la derecha*/
    display: block; /*Asegura que la imagen es un bloque independientemente*/
}

/*Estilo del menú*/
.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: #C1305A; /*Fondo oscuro*/
    color: white; /*Texto blanco*/
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

/*Estilo responsivo para pantallas pequeñas*/
@media screen and(max-width: 768px) {
    .col-3, .col-6{
        flex: 100%; /*Las columnas ocupan el 100% del ancho*/
    }

    .right-image{
        margin-left: auto; /*Centra la imagen en pantallas pequeñas*/
        margin-right: auto;
    }
    
}